.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  container-type: size;
  container-name: masthead;
  row-gap: var(--content-gap);
}
.section {
  width: 100%;
  max-width: 75%;
  transition: max-width .2s;
  margin: auto;
  height: 100%;
}
@container masthead (max-width: 700px) {
  .section {
    max-width: 85%;
    transition: max-width .2s;
  }
}
@container masthead (max-width: 400px) {
  .section {
    max-width: 95%;
    transition: max-width .2s;
  }
}
/* MASTHEAD */
.masthead {
  width: 100%;
  padding: var(--content-gap) 0;
  border-bottom: 1px solid var(--border);
}
.masthead .links {
  margin-top: .5rem;
}
.masthead .links a:not(:first-child) {
  margin-left: .5rem;
}
/* CONTENT */
.content {
  font-size: var(--fontSize-body);
}
/* FOOTER */
.footer {
  padding: var(--content-gap) 0;
  border-top: 1px solid var(--border);
  font-size: var(--fontSize-secondary);
}
.footer .clones {
  font-size: var(--fontSize-secondary);
  font-style: italic;
}

