.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  container-type: size;
  container-name: masthead;
  row-gap: var(--content-gap);
}
.section {
  width: 100%;
  max-width: 75%;
  transition: max-width .2s;
  margin: auto;
  height: 100%;
}
@container masthead (max-width: 500px) {
  .section {
    max-width: 95%;
    transition: max-width .2s;
  }
}
/* MASTHEAD */
.masthead {
  width: 100%;
  padding: var(--content-gap) 0;
  border-bottom: 1px solid var(--border);
}
.masthead h1 {
  text-wrap: nowrap;
}
.links {
  display: flex;
  align-items: center;
  margin-top: .75rem;
  gap: .5rem;
}
.links a {
  display: flex;
}
.icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--text-primary);
  transition: all .1s;
}
.icon:hover {
  fill: var(--text-primary-hover);
  transform: scale(1.02);
}
.icon:active {
  transform: scale(0.98);
}
@container masthead (max-width: 500px) {
  .links {
    margin-top: .5rem;
  }
  .icon {
    width: 1.85rem;
    height: 1.85rem;
  }
}
/* CENTER */
.nav ul {
  list-style-type: none;
}
.content {
  font-size: var(--fontSize-body);
}
/* FOOTER */
.footer {
  padding: var(--content-gap) 0;
  border-top: 1px solid var(--border);
  font-size: var(--fontSize-secondary);
}
.footer .clones {
  font-size: var(--fontSize-secondary);
  font-style: italic;
}