:root {
  --background-primary: #67e5f9;
  --border: #fff;
  --text-primary: #333;
  --text-hover: #999;
  --fontSize-h1: 48px;
  --fontSize-primary: 16px;
  --fontSize-secondary: 14px;
  --fontSize-body: 20px;
  --content-gap: 1rem;
}

body {
  background-color: var(--background-primary);
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  font-size: var(--fontSize-primary);
}
h1 {
  margin: 0;
  font-size: var(--fontSize-h1);
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-primary);
}
a:hover {
  color: var(--text-hover);
}
